body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    justify-content: space-evenly;
     
}
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
}

.contanier{
    background-color: black;
    height: 80px;
    width: 100vw;
    
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    border-bottom: solid white 3px;
    
    
    
}
.nav-li{
    font-size: 25px;
    font-weight: 800;
    color: white;
    text-align: center;
    
    
}
.nav-li a:hover{
    color:#A6A6A6;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.imagen-home{
   justify-content: center;
}
/* ----------------------------------LA BANDA-------------------------------------------- */
.bodylabanda{
    margin: 0;
    padding: 0;
    background-color: #A6A6A6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Lexend", system-ui;
    justify-content: space-evenly;
 
}

.div{

width: 100vw;
height: 80px;
background-color: black;
justify-content: center;
display: flex;
align-items: center;
margin-top: 5px;
margin-bottom: 5px;




}



/* image 12 */
.imagenintegrantes{

align-items: center;
justify-content: space-evenly;
display: flex;
background-color: #A6A6A6;
background-image: url(Imagenes/Megadeath\ in\ concert\ 2024.webp);
height: 600px;
width: 100vw;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin-top: 5px;
border-radius: 5px;


}
.historia-labanda{
background: linear-gradient(360deg, rgba(41, 40, 40, 0.9) 0%, #C89116 90%);

margin-bottom: 5px;
min-height: fit-content;
align-content: center;
border-radius: 5px;
border-color: black;
text-align: center;
padding: 80px;
font-size: x-large;
}
.h2{
margin-top: 5px;
margin-bottom: 5px;
border-color: black;
border-style: dotted;
height: fit-content;
margin-left: 50%;
text-align: center;

}
/* --------------------------------SIG-UP------------------------------------------------ */
#formulario{

}
.form-registro{
    width: 400px;
    background-color: black;
    padding: 50px;
    margin: auto;
    align-items: center;
    align-content: center;
    
    }
    .registro{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        border: 1px;
        
    
    }
    #button-registrar{
        width: 150px;
        height: 50px;
        text-align: center;
        color: #A6A6A6;
        border-color: white;
        border: solid;
    }

    .registrado{
        color: #A6A6A6;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px ;
        
    }
    
    p a{
        color: #A6A6A6;
        text-align: center;
        margin-top: 5px;
        
        
        
    }
    .p{
        color: #A6A6A6;
        margin-right: 5px;
        padding-left: 5px;
    }


   /*-------------------------------------------------------- EDITAR ALBUM------------------------------------------------------------ */



.sidebar{
   
    background-color: black;
    flex-direction: row;
    color: white;
    align-content: center;
    border-top: white 3px;
    border-style: solid;
    
    
    
}
#div{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top: white 3px;
    border-style: solid;
    background-color:black;
    width: auto ;
    height: 100px;
    align-content: center;
    text-align: center;
    
    
}
#imagen-proto-persona{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
}
.usuario{
    olor: white;
    width: auto ;
    height: 100px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    

    text-align: center;
    align-items: center;
    
}
.contenido{
    color: white;
    display: flex;
    flex-direction: row;
    
    
   
    
}
.div-centro{
  
    width: 85%;
    height:100vw;
    color: #A6A6A6;
    display: flex;
    flex-direction: row;
    
    
    background-position: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;

}
.contenedor-editar{
    height: 600px;
    width: 400px;
  
    margin-left: 100px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 10px;

}
.editar-albúm{
    justify-content: space-evenly;
    flex-direction: row;
    width: 350px;
    height: 500px;
    text-align: center;
    font-weight: 500;
    font-size: large;
    
    
}
.placeholder-editar{
    width: 250px;
    text-align: center;
    color: black;
}
#button-agregar{
    width: 200px;
   height: 40px;
    background-color:black;
    border-radius: 10px;
    color: white;
    border: solid #A6A6A6 2px;
    margin-top: 10px;
}

#button-consultar{
    width: 200px;
   height: 40px;
    background-color:black;
    border-radius: 10px;
    color: white;
    border: solid #A6A6A6 2px;
    margin-top: 10px;
}
#iconos{
    font-size: large;

}
#icono-info{
    display: inline-block; /* Para que el span pueda tener un tamaño */
    width: 50px; /* Ancho del span */
    height: 50px; /* Altura del span */
    background-color: #000; /* Fondo negro, puedes cambiarlo */
    border-radius: 50%; /* Para hacerlo redondo */
    border: 2px solid white; /* Borde blanco de 2px */
    text-align: center; /* Alinea el contenido dentro del span */
    line-height: 50px; /* Centra el texto verticalmente */
    color: white; /* Color del texto */
    font-size: 24px;
      cursor: pointer;
      position: relative;
}

.addAlbum { 
    padding: 80px 40px 40px 40px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.73);
    margin-top: 70px;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.album-title {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#album-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px; 
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    border: 2px solid #A6A6A6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.p_crear_cancion {
    color: white;
    font-size: 2rem;

}

.album-item p {
    max-height: 100px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    word-wrap: break-word; 
}

.album-item p.album-description {
    overflow-y: auto; 
    padding-right: 10px;
}
.album-item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-width: 0;
}

.album-item h3 {
    font-size: 1.2rem;
    margin: 0;
}

.album-item p, .album-item a {
    font-size: 1rem;
}
.album-item .descripcion {
    max-height: 50px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.otros-albumes{
    margin-left: 3px;
    
    flex-direction: row;
    
    justify-items: center;
}
/*-------------------------------------------------------- Agregar Canción----------------------------------------------------------- */

.div-centro-canción{
  
    width: 50%;
    height:100vw;
    color: #A6A6A6;
    display: flex;
    flex-direction: row;
    /* background-image: url(https://64.media.tumblr.com/tumblr_lyffv5MA9H1r5g3yto1_500.jpg);
    background-position: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover; */

}
.contenedor-editar-canción{
    height: 400px;
    width: 500px;
    margin-top: 70px;
    margin-left: 80px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.73);
    

}
.editar-canción{
    justify-content: space-evenly;
    flex-direction: row;
    width: 350px;
    height: 350px;
    text-align: center;
    font-weight: 500;
    font-size: large;
    
    
}
#placeholder-editar-canción
{
    width: 400px;
    text-align: center;
    color: black;
}
#button-agregar-canción{
    width: 150px;
    height: 40px;
    background-color:black;
    border-radius: 10px;
    color: white;
    border: solid #A6A6A6 2px;
    margin-top: 10px;
}

.addSongs{
    margin-top: 70px;
    background: rgba(0, 0, 0, 0.73);
    width: 50%;
    height:100vw;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    margin-right: 10px;
}



.songs-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.song-item {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 5px 10px; 
    border-radius: 8px; 
    border-color: white;
    border-width: 2px;
    gap: 10px; 
    font-weight: 400;
    font-size: large;
}

.song-item h3 {
    flex: 1; 
    margin: 0; 
    padding: 0;
}

.song-item p {
    margin: 0; 
    padding: 0;
}

.song-item a {
    color: #0bd240; 
    text-decoration: none; 
    padding-left: 5px; 
}
/*-------------------------------------------------------- Landing SigUp----------------------------------------------------------- */

.landindSigUp{
    padding-top: 80px;
}
#fa-favoritos{
    color: gold;
   
}
.div-centro-landing{
  
    width: 600px
    height:85%
    color: #A6A6A6;
    display: flex;
    flex-direction: row;
    background-image: ;
    background-position: auto;
    background-repeat: no-repeat;
    margin-top: 100px;
    justify-content: space-evenly;
    align-content: center;
    
    

}

.contenedor-landing{
    height: 100wv;
    width: 80vw;
    background-color: silver
}
.favoritos{
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.73);
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    color: #A6A6A6;

}
#discos{
    width: 450px;
    height: 450px;
    background: rgba(0, 0, 0, 0.73);
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: inline-flex;
    border-color: white;
    border-style: double;
    color: #A6A6A6;
    border-width: 4px;
    

}
.videos{
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.73);
    flex-direction: row;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-color: white;
    border-style: solid
    
}

/* ---------------------------------------------- Discos Favoritos------------------------------------------------------- */
.contenedor-discos-favoritos{
    height: 100wv;
    width: 80vw;
    background-color: silver;
    background-image: url(https://vinyl-records.nl/thrash-metal/photo-gallery/megadeth/countdown-to-extinction/megadeth-countdown-extinction-vinyl-lp-743.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media not all and (min-width: 768px)
 
   
}
.discos-favoritos{
    background: rgba(0, 0, 0, 0.73);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media not all and (min-width: 768px)

}
.Canciones-discos-favoritos{
    width: 450px;
    height: 400px;
    background: rgba(0, 0, 0, 0.73);
    
    
    
   flex-direction: row;
   align-content: center;
   margin-top: 3px;
   
   

    
   
}
#ol-li-canciones{
    
    font-weight: bold;
    font-size: larger;
    margin: 5%;
    padding: 5px;
}
#li-button{
    height: 35px;
    width: 150px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


.contenedor-discos-favoritos-2{
    height: 100wv;
    width: 80vw;
    background-color: silver;
    background-image: url(https://cdn.tower.jp/za/o/25/889466253225.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;}

/* -----------------------------------------Tours------------------------------------------------------- */
.tours2024{
    background-image: url(https://media.cnnchile.com/sites/2/2023/11/megadeth_square-740x430.jpg);
    background-repeat: no-repeat;
   
    background-position: center;
    background-size: cover; */
    
    
   
    

    



}


.Fechas {
    padding: 200px 40px 40px 40px;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    justify-content: center;
    align-items: center;
    
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
   
  }
  
  .Bienvenido {
    grid-column: span 1;
    background-color: #f0f0f0;
    text-align: center;
    border-radius: 10px;
    display: flex;
    width: 200px;
   
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .fecha-dia {
    grid-column: span 4; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    height: 400px;
  }
  
  #fechas-dia {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    border-color: #A6A6A6;
    border-width: 2px;
  }
  



#welcome{
    width: 80vw;
    height: 100px;
    color:gold;
    font-size: xx-large;
    font-weight: bold;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 10px;
    
    
    

    
}

.comprar.activo {
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    height: min-content;
    border-width: 2px;
}

.comprar.inactivo {
    background-color: white;
    color: grey;
    cursor: not-allowed;
    pointer-events: none;
    border-radius: 5px;
    border-width: 2px;
}

.sold-out-text {
    color: red;
    font-weight: bold;
    font-style: italic;
}
/* 
--------------------------------------------------DISCOGRAFIA------------------------------------------------------- */


.Discografía{
    padding: 80px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    

}

#icon{
    fill: gold;
    width: 40px;
    height: 40px;
    color: gold;
}

#consulta-general{
    background-color: rgb(79, 79, 79);
    
    
    

}
#album-container-tit {
    color: white; 
    padding: 20px;
    width: fit-content;
    margin: 0 auto; 
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    border: 2px solid white;
  }
  
  #album-container-tit li {
    margin: 5px 0; 
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 2px; 
    border: 2px solid white; 
    padding: 10px; 
    list-style-type: none; 
}

  #album-container-tit h3 {
    font-size: 2em; 
    margin-bottom: 10px;
  }
  
  #album-container-tit p {
    font-size: 1.2em; 
    margin-bottom: 8px;
  }
  
  #album-container-tit h4 {
    font-size: 1em; 
  }
  
  #button-agregar, #album-filter, #album-container-tit {
    margin: 0;
  }
  
  .input-album {
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
  }
  
  #album-container-tit {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    
  }

.albumes{
    width: 100%;
}
.consultar-album{
   margin-top: 50px;
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
@media (max-width: 1024px) {
    /* Medium screens, tablets */
    #album-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .form-registro {
        width: 300px;
    }
}
@media (max-width: 768px) {
    /* Small screens, smartphones */
    .container, .header {
        height: auto;
        padding: 10px;
        flex-direction: column;
    }
    .nav-li {
        font-size: 18px;
        padding: 5px;
    }
    .album-item h3 {
        font-size: 1rem;
    }
    #album-list {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .form-registro {
        width: 250px;
    }
}

@media (max-width: 480px) {
    
    .container {
        flex-direction: column;
        padding: 5px;
    }
    .nav-li {
        font-size: 16px;
    }
    .form-registro {
        width: 90%;
    }
    #button-registrar,
    #button-agregar,
    #button-consultar {
        width: 100%;
        height: auto;
    }
    #album-list {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

#icono-info {
    position: relative; 
    display: inline-block;
    cursor: pointer; 
    
    width: 50px; 
    height: 50px; 
    background-color: #000; 
    border-radius: 50%; 
    border: 2px solid white; 
    text-align: center; 
    line-height: 50px; 
    color: white; 
  }
  
  .tooltip {
    visibility: hidden; 
    width: 350px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    text-align: center; 
    border-radius: 5px; 
    padding: 10px;
    position: absolute;
    top: 100%; 
    
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s; 
    z-index: 1; 
  }
  
  #icono-info:hover .tooltip {
    visibility: visible; 
    opacity: 1; 
  }